html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: gainsboro;
    align-self: center;
    text-align: center;
    
    padding: 20px;
}

.header h1 {
    color: aliceblue;
 
}



.navbar {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;   
}